<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baimeng.bmservice.mapper.BTaskUserClockEvaluateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.baimeng.bmservice.model.BTaskUserClockEvaluate">
        <id column="evaluate_file_id" property="evaluateFileId" />
        <result column="created_day" property="createdDay" />
        <result column="evaluate_score" property="evaluateScore" />
        <result column="evaluate_msg" property="evaluateMsg" />
        <result column="sys_user_id" property="sysUserId" />
        <result column="state" property="state" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

</mapper>
