<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baimeng.bmservice.mapper.BTaskSceneMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.baimeng.bmservice.model.BTaskScene">
        <id column="scene_id" property="sceneId" />
        <result column="store_no" property="storeNo" />
        <result column="name" property="name" />
        <result column="state" property="state" />
        <result column="sort" property="sort" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

</mapper>
