<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baimeng.bmmerchant.mapper.IndexMapper">


    <select id="queryBanners" resultType="com.baimeng.bmmerchant.model.vo.BannerVO">
        SELECT CONCAT(#{url}, image_url) 'imageUrl'
        FROM b_banner
        WHERE state = 1
        ORDER BY sort DESC
    </select>


    <select id="queryNotices" resultType="com.baimeng.bmmerchant.model.vo.NoticeVO">
        SELECT CONCAT(#{url}, image_url) 'noticeUrl', notice_id 'noticeId'
        FROM b_notice
        WHERE state = 1
        ORDER BY sort DESC
    </select>

    <select id="queryNoticesById" resultType="java.lang.String">
        SELECT content
        FROM b_notice
        WHERE notice_id = #{noticeId}
    </select>
</mapper>
